[user]
  name = Nelson Fleig
{{- if ne .chezmoi.os "linux" }}
  email = {{ .email }}
{{- end }}
[pull]
  rebase = true
[push]
  default = current
[init]
  defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credentia
